# SEMANA 05
Miguel Angel Prado Zuta

Temas:
    1. Colecciones de datos
    2. Estructuras decisivas y estructuras repetitivas
    3. Clases y objetos
    4. Funciones

1. Colecciones

In [1]:
# 1.1. Listas
# Es una colección delementos que puede ser ordenada, modificada, etc...
# Se identifica por los corchetes
# Ejemplo:
aula = ['Huaman','Pineda','Luque','Cachay']
print(aula)

['Huaman', 'Pineda', 'Luque', 'Cachay']

In [2]:
aula

['Huaman', 'Pineda', 'Luque', 'Cachay']

In [3]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Huaman
Pineda

In [4]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Soto'
aula[1]

'Soto'

In [5]:
# Mostramos como quedó la Lista
aula

['Huaman', 'Soto', 'Luque', 'Cachay']

In [6]:
# Para agregar un elemento utilizamos append
aula.append("Llanos")
aula.append("Luque")

In [7]:
aula

['Huaman', 'Soto', 'Luque', 'Cachay', 'Llanos', 'Luque']

In [8]:
# Para eliminar elemtentos utilizamos remove[]
aula.remove("Huaman")

In [9]:
aula

['Soto', 'Luque', 'Cachay', 'Llanos', 'Luque']

In [10]:
# Si hubiera varios elementos de valores iguales se elimina La primera coincidencia
aula.remove("Luque")
aula

['Soto', 'Cachay', 'Llanos', 'Luque']

In [11]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [12]:
for alumno in aula:
    print(alumno)

Soto
Cachay
Llanos
Luque

In [13]:
# Para invertir La lista utilizamos reverse()
#Invertir NO significa ordenar en forma descendente sin invertir La Lista
aula.reverse()
aula

['Luque', 'Llanos', 'Cachay', 'Soto']

In [14]:
# Para ordenar una  lista utilizamos sort()
aula.sort()
aula

['Cachay', 'Llanos', 'Luque', 'Soto']

In [15]:
# 1.2 Tuplas
# Es una colección de elemntos ordenada (Ordenado significa que tiene un indice) que no se puede modificar
# No se pueden agregar elementos ni eliminar
# Se identifica por los paréntesos
tupla_aula=['Huaman','Pineda','Luque','Cachay']
tupla_aula

['Huaman', 'Pineda', 'Luque', 'Cachay']

In [16]:
# Se puede extraer un elemnto por su posición
tupla_aula[2]

'Luque'

In [17]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [18]:
# 1.3 Conjuntos
# Es una coleciónm de elemnos que no está ordenadao (Significa que no tiene un índice)
conjunto_aula = {'Huaman','Pineda','Luque','Cachay'}
conjunto_aula

{'Cachay', 'Huaman', 'Luque', 'Pineda'}

In [19]:
for alumno in conjunto_aula:
    print(alumno)

Luque
Cachay
Pineda
Huaman

In [20]:
# Observación: No se puede acceder por posición pues no considera indeacion
# Por ejemplo_
# conjunto_aula[2]

In [21]:
# Para saber la cantidad de elemntos utilizamos len()
len(conjunto_aula)

4

In [22]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Baldeon")
conjunto_aula

{'Baldeon', 'Cachay', 'Huaman', 'Luque', 'Pineda'}

In [23]:
# Para eliminar elementos utilizamos la funcion remove()
conjunto_aula.remove("Cachay")
conjunto_aula

{'Baldeon', 'Huaman', 'Luque', 'Pineda'}

In [24]:
# 1.4 Diccionarios
# Es una coleccion de elementos, que están indexados, no está ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos INDICE:VALOR
diccionario_aula = {2:'Baldeon','1':'Cachay','dos':'Huaman','3':'Luque','0':'Pineda'}
diccionario_aula

{2: 'Baldeon', '1': 'Cachay', 'dos': 'Huaman', '3': 'Luque', '0': 'Pineda'}

In [25]:
diccionario_aula["0"]

'Pineda'

In [26]:
diccionario_aula[2]

'Baldeon'

In [27]:
diccionario_aula["1"]

'Cachay'

In [28]:
diccionario_aula["dos"]

'Huaman'

In [29]:
# Para añadir un par de elemntos la diccionario hacemos:
diccionario_aula['20']= "Prado"

In [30]:
diccionario_aula

{2: 'Baldeon',
 '1': 'Cachay',
 'dos': 'Huaman',
 '3': 'Luque',
 '0': 'Pineda',
 '20': 'Prado'}

In [31]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar mi elemento de indice dos. Ejemplo: Para eliminar a Baldeon que tendríamos que hacer
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Cachay', 'dos': 'Huaman', '3': 'Luque', '0': 'Pineda', '20': 'Prado'}

In [32]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Cachay', '3': 'Luque', '0': 'Pineda', '20': 'Prado'}

In [33]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo  devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [34]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice,valor in diccionario_aula.items():
    print(indice,valor)

1 Cachay
3 Luque
0 Pineda
20 Prado

In [35]:
# 1.5 Ejercicio
# Dado una lista[AQUINO, ARCOS, BALDEON, BARZOLA, BELLO, CACHAY, CARRASCO, CIRIACO, DELGADO, GAYOSO, GONZALES, GRANADOS, HUAMAN, LLANOS,LUQUE, PINEDA, PRADO, QUIJAHUAMAN, QUISPE ,RAKAUSKAS, RAMOS, ROJAS, SOTO,ZARATE]
# Diseñar un código que muestre si el apellido de un estudiante ingresado por el teclado forma parte de la lista
# Tiempo: 10 minutos

In [36]:
lista = ['AQUINO', 'ARCOS', 'BALDEON', 'BAROLA', 'BELLO', 'CACHAY', 'CARRASCO', 'CIRIACO', 'DELGADO', 'GAYOSO', 'GONZALES', 'GRANADOS', 'HUAMAN','LLANOS','LUQUE', 'PINEDA', 'PRADO', 'QUIJAHUAMAN', 'QUISPE' ,'RAKAUSKAS', 'RAMOS', 'ROJAS', 'SOTO','ZARATE']

In [37]:
# Escribe un apellido:
apellido = input("Escribe un apellido: ")

Escribe un apellido: PRADO

In [38]:
if apellido in lista:
    print(f"El apellido {apellido} se encuentra en la lista")
else:
    print(f"El apellido {apellido} NO se encuentra en la lista")

El apellido PRADO se encuentra en la lista

In [39]:
# if
# Problema: Dado el precio de 3 productos ingresados por el teclado, aplicar un descuento del 10% si la venta es mayor
# o igual a 1000

In [ ]:
# Solucion
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total >= 1000:
    total *= 0.9
print(f"El total a pagar es: {total}")

In [ ]:
# IF ELSE

In [ ]:
# Problema 02
# Dado el importe total de ventas ralizadas por un trabajador (Ingresado por teclado)
# Categorizar que tipo de empleado es, considerando la siguiente tabla

# Categoría: A ->[1,1000]
# Categoria: B ->[1000,2000]
# Categoria: C ->[2000,5000]
# Categoria: D ->[5000,Más]
# Tiempo: 10 minutos

In [1]:
importe = input("Ingrese el monto del importe: ")

Ingrese el monto del importe: 2000

In [7]:
importe = int(importe)

In [10]:
if importe >= 1 and importe <= 1000:
    print("Usted pertenece a la categoría A")
elif importe >= 1000 and importe <= 2000:
    print("Usted pertenece a la categoría B")
elif importe >= 2000 and importe <= 5000:
    print("Usted pertenece a la categoría C")
elif importe >= 5000:
    print("Usted pertenece a la categoría D")
else:
    print("Debe ingresar un importe razonable")

Usted pertenece a la categoría B

In [11]:
# 2.2 Estructuras Repetitivas
# for
# Problema 01:
# Mostrar los elementos de una lista utilizando for

In [13]:
# Solucion
aula = ["Carrasco","Navarro","Gonzales","Aquino"]

# Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Carrasco
Navarro
Gonzales
Aquino

In [14]:
# Imprimir los números de 0 a 10, utilizando for
for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [3]:
# También funcionan los buicles anidados:
# PROBLEMA 05
# DADO UNA LISTA DE NÚMEROS, UTILIZANDO EL ALGORITMO BURBUJA ORDENARLOS DE MENOR A MAYOR
# LISTA: [10,20,5,-10,100,0,50,17,2000,-1000,0]

In [5]:
lista_burbuja = [10,20,5,-10,100,0,50,17,2000,-1000,0]
lista_burbuja

[10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]

In [10]:
for x in range(len(lista_burbuja)-1):
    for y in range(len(lista_burbuja)-2):
        if lista_burbuja[y] > lista_burbuja[y+1]:
            aux = lista_burbuja[y]
            lista_burbuja[y] = lista_burbuja[y+1]
            lista_burbuja[y+1] = aux

lista_burbuja

[-1000, -10, 0, 5, 10, 17, 20, 50, 100, 2000, 0]