# SEMANA 03
Prado Zuta, Miguel Angel

# Temas:
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por el teclado
5. Operadores

5. Operadores

In [ ]:
# 5.1 Operadores aritméticos
# Se tiene: +,-,*,/,**,%,//

In [4]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta =  numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1/numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)

13
7
30
3.3333333333333335
1
1000

In [ ]:
#Operadores de Asignación
#Se tiene: =,+=,-=,*=,

In [ ]:
#La operación anterior también se puede

In [5]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [6]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero = 5
numero **= 3
print(numero)

125

In [ ]:
#5.3 Operadores de comparación
#Se tiene: ==,!=,<,>,<=,>=
#Ejemplo de Igualdad

In [8]:
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [12]:
#Con las cadenas funciona igual
nombre1 = "Nicole"
nombre2 = " y Miguel"
nombre1 == nombre2

False

In [13]:
#5.4 Operadores lógicos
#Se tiene: and,or,not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [14]:
numero1 < numero2

True

In [15]:
#El not invierte el resultado
not(numero1<numero2)

False

In [16]:
numero1<numero2 and numero3<numero4

True

In [17]:
#También puedes utilizar paréntesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [18]:
#5.5 Operadores de Pertenencia
#Se tiene: int,not in

In [21]:
#Ejemplo:
aula = ["Juan","Daniel","Rubén"]
alumno1 = "Diego"
alumno2 = "Juan"

In [22]:
# ¿Diego está en el aula?
alumno1 in aula

False

In [24]:
# ¿Juan está en el aula?
alumno2 in aula

True

In [25]:
# ¿Diego no está en el aula?
alumno1 not in aula

True

In [ ]:
# ¿Juan no está en el aula?
alumno2 not in aula