# SEMANA 03
Prado Zuta, Miguel Angel

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

3. Manejo de Cadenas

In [2]:
cadena = "Universidad Nacional tecnológica de Lima Sur"
cadena

'Universidad Nacional tecnológica de Lima Sur'

In [3]:
#Universidad Nacional Tecnológica de Lima Sur
#01234...................................-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
#Considera los espacios en blanco
cadena[11]

' '

In [7]:
#¿que me mostrará?
cadena[-5]

'a'

In [8]:
cadena[21]

't'

In [9]:
cadena[-23]

't'

In [10]:
#Para demostrar una subcadena[desde, hasta una antes]
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de una cadena utilizamos len()
#Incluye los espacios en blanco

In [12]:
len(cadena)

44

In [13]:
#Para mostrar una cadena en mayúsculas utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [14]:
#Ojo... Solo muestra, porque el original sigue igual
cadena

'Universidad Nacional tecnológica de Lima Sur'

In [15]:
#Si desearas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()

In [16]:
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [17]:
#Para mostrar una cadena en minúscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [18]:
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [19]:
#Separar una lista utilizando un criterio de separación a partir de una cadea split("X")
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [20]:
#Forma cásica, concatenar con +
nombre = "Miguel Prado Zuta"
print("Buenas tardes " + nombre)

Buenas tardes Miguel Prado Zuta

In [26]:
#Utilizamos el format()
nombre = "Pepo el Simio"
edad = 22
print("Hola {} ya sé que tienes {} años".format(nombre, edad))

Hola Pepo el Simio ya sé que tienes 22 años

In [28]:
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [29]:
#Dar formato con f
#LA FUNCIÓN F,  ESTÁ DISPONIBLE A PARTIR DE LA VERSIÓN 3.6

In [30]:
nombre = "Miguel Prado"
edad = 19
print(f"Buenos días {nombre} ya sé que tienes {edad} años")

Buenos días Miguel Prado ya sé que tienes 19 años

In [32]:
#Dar formato con muchas decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333